<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

    <%= stylesheet_link_tag    "bootstrap.min", media: "all", "data-turbolinks-track" => true %>
    <%= stylesheet_link_tag    "style", media: "all", "data-turbolinks-track" => true %>
    <%= stylesheet_link_tag    "slider", media: "all", "data-turbolinks-track" => true %>
    <%= stylesheet_link_tag    "scaffolds", media: "all", "data-turbolinks-track" => true %>

    <%= csrf_meta_tags %>
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>OS-SPT <%= @sep %> <%= @title %></title>

    <!-- Bootstrap core CSS -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="asset/css/style.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <%= link_to "~OSPT~", "/" , :class => 'navbar-brand' %>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li <%= @home %> ><%= link_to "HOME", "/" %></li>
                    <li <%= @management %>><%= link_to "MANAGEMENT", :controller => :users, :action => :index %></li>
                    <li <%= @generator %>><%= link_to "GENERATOR", :controller => :generator, :action => :index %></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>

    <div class="container">

          <%= yield %>
    <footer>
                <p>© 2014 Ontelstudio SPT</p>
    </footer>
    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag "jquery.min", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "bootstrap.min", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "slider", "data-turbolinks-track" => true %>
</body>
</html>
