
<div id="print" style="margin:10px;">
  <div style="float:left;width:20px;height:80px;"><%= wicked_pdf_image_tag 'logo.gif' %></div>
  <div style="float:right;height:80px;margin-left:60px">
    <div style="font:30px Ubuntu ;">PT. ONTEL STUDIO</div>
    SOFTWARE HOUSE - IT CONSULTANT<br>
    Alamat : Jl. Karang Wuni, No 1 Karang Wuni, Pogung Raya Telp. 0274 909092<br>
</div>
<div style="float:left">
<hr style="border:1px solid black">
<div style="text-align:center;font:20px Ubuntu ;" >SURAT PERINTAH TUGAS</div>
<br>  
Nomor : <%= @sptall.spt.id %>/SPT/ONTELSTUDIO/2014<br>
<br>
<br>
Diperintahkan kepada :<br>
<br>
<div style="text-align:left;padding-left:40px;">
<% @datamulti.each_with_index do |data, urutan| %>
<div>
  <div style="float:left;line-height:30px;"><%= urutan+1 %>.</div>
  <div style="margin-left:30px;">  
    <table style="line-height:30px;">
    <tr>
      <td style="width:200px">Nama Lengkap</td>
      <td>  <%= data.user.nama_depan %> <%= data.user.nama_belakang %>
    </td>
    </tr>
    <tr>
      <td>Jabatan</td>
      <td> <%= data.user.jabatan %> </td>
    </tr>
    <tr>
      <td>Email</td>
      <td> <%= data.user.email %> </td>
    </tr>
    </table>
  </div>
</div>
<% end %>
</div>
<br>
untuk melaksanakan tugas dengan rincian sebagai berikut
<br><br>
<div style="text-align:left;padding-left:40px;">
<table style="line-height:30px;">
<tr>
  <td style="width:200px">Lokasi Tugas</td>
  <td> <%= @sptall.spt.tempat_tujuan %> </td>
</tr>
<tr>
  <td>Lama Tugas</td>
  <td> <%= @sptall.spt.durasi_waktu %> </td>
</tr>
<tr>
  <td>Transportasi</td>
  <td> <%= @sptall.spt.jenis_transportasi %> </td>
</tr>
<tr>
  <td>Maksud Tugas</td>
  <td> <%= @sptall.spt.maksud_tugas %>  </td>
</tr>
</table>

<br></div>
____________________________________________________________<br>

Catatan :<br>
Apabila Tugas ini tidak dilaksanakan sesuai perintah, segala sesuatunya menjadi tanggung jawab penerima tugas.<br><br><br>
 <div style="text-align:right">Yogyakarta, <%= Time.new.day.to_s + " " + Date::MONTHNAMES[Date.today.month] + " " + Time.new.year.to_s  %></div>
      <br><br>
  <div style="height:140px;padding:20px">
      <% @datamulti.each_with_index do |data, urutan| %>
    <div style="text-align:center;width:20%;float:left">
    <b>Yang ditugaskan</b><br>
    <br>
    <br>
    <br>
    <br>
    <%= data.user.nama_depan %> <%= data.user.nama_belakang %><br><br>
    </div>
    <% end %>
    <div style="text-align:center;width:50%;float:right">
     <br><b>Pimpinan</b><br>
    <br>
    <br>
    <br>
    <br>
      Mas Onggo Daruhito<br><br>
    </div>
  </div>
</div>
</div>
